<ion-view view-title="Sobre">
    <ion-content class="has-header">
        <div class="container list">
            <center>
              <div class="textCenter">
                <h3>Partiu!</h3>
              </div>  
              <img src="img/others/logo_ret.png" height="150" width="150">
              <h5>O Partiu! foi criado com a finalidade de possibilitar uma nova perspectiva em relação ao transporte urbano.</h5>
              <br/>
              <h5>Formado por:</h5>
              <p>Daniel Moura</p>
              <p>Dylan Guedes</p>
              <p>Eduardo Gomes</p>
              <p>Eduardo Vital</p>
              <p>Gustava Cavalcante</p>
              <p>João Pedro Sconetto</p>
              <p>Miguel Pimentel</p>                  
              <p>Victor Arnaud</p>
              <p>Wilton Rodrigues</p>
              <br/>
            </center>
            <div class="card item">
              <center><p>Acesse nossa web page!</p></center>
              <button class="button button-block button-calm icon icon-left ion-android-globe" ng-click="inAppOpenLink('http://104.236.252.208/')">
                <strong>Home Partiu!</strong>
              </button>
            </div>
            <div class="card item">
              <center><p>Repositório do nosso projeto:</p></center>
              <button class="button button-block button-dark icon icon-left ion-social-github" ng-click="inAppOpenLink('https://github.com/fga-gpp-mds')">
                <strong>Repositório</strong>
              </button>
            </div>
        </div>
        <br/>
        <br/>
    </ion-content>
</ion-view>
