<!--
<ion-view view-tittle="Sobre">
  <ion-content class="has-header" ng-controller="aboutCtrl">
    <div class="item row">
      <label class="col col-50">
        <img src="img/others/partiu.png" width="70" height="70">
      </label>
      <h1 class="col col-50"> Partiu! </h1>
    </div>
    <div class="item">
      <h2>Aqui dentro escrever uma parada super</h2>
      <h2>legal para explicar a aplicação</h2>
    </div>
  </ion-content>
</ion-view>

-->

<ion-view view-title="Sobre">
    <ion-content class="padding">
        <div class="list">
            <center>
              <div style="text-align: center;">
                <h3>Partiu!</h3>
              </div>  
                <img src="img/others/logo.png" height="150" width="150">
                <h5>O Partiu foi criado com a finalidade de possibilitar uma nova perspectiva em relação ao transporte urbano.</h5>
                <br/n>
                <h5>Formado por:</h5>
                <p>Daniel Moura</p>
                <p>Dylan Guedes</p>
                <p>Eduardo Gomes</p>
                <p>Eduardo Vital</p>
                <p>Gustava Cavalcante</p>
                <p>João Pedro Sconetto</p>
                <p>Migue Pimentel</p>                  
                <p>Victor Arnauld</p>
                <p>Wilton Rodrigues</p>
            
            </center>
      
    </ion-content>
