<ion-view view-title="Sair">
  <ion-content class="padding">
    <div class="list">
      <div class="row">
        <label class="col col-50">
          <img src="img/others/logo_ret.png" width="90" height="90">
        </label>
        <h3 class="col col-50">Partiu!</h3>
      </div>
      <center>
        <label>
          <h5>Volte sempre!</h5>
        </label>
      </center>
      <br/>
      <br/>
      <center>
        <div class="card">
          <center>
            <div class="item item-text-wrap">
              Deseja realmente sair?
            </div>
            <div class="row">
              <label class="col col-50">
                <center>
                  <button class="button button-block button-positive icon icon-left ion-android-arrow-back" ng-controller="menuCtrl" ng-click="cancelRedirect()">
                    <strong>Cancelar</strong>
                  </button>
                </center>
              </label>
              <label class="col col-50">
                <center>
                  <button class="button button-block button-assertive icon icon-left ion-android-cancel" ng-controller="menuCtrl" ng-click="closeApp()">
                    <strong>Sair</strong>
                  </button>
                </center>
              </label>
            </div>
         </center>
        </div>
      </center>
    </div> 
  </ion-content>
</ion-view>
