<ion-view>
  <ion-content class="padding">
      <div class="row">
          <div class="col-md-12">
            <form>
              <h1>Filtrar</h1>
              <input type="search" placeholder="Título" ng-model="filterRide.title">
              <input type="search" placeholder="Origem" ng-model="filterRide.origin">
              <input type="search" placeholder="Destino" ng-model="filterRide.destiny">
              <input type="search" placeholder="Veículo" ng-model="filterRide.vehicle.car_model"> 
            </form>
          </div>
      </div>

      <ion-list ng-repeat="user in users">
        <div class="list card" ng-repeat="ride in user.driver.rides  | filter: filterRide : strict">
          <div class="item item-divider"><strong>{{ride.title}}<strong></div>
          <div class="item item-body">
            <ion-item class="item-thumbnail-left">
              <img style="border-radius: 50%" ng-src ="{{user.photo_url}}" alt="Cover Image" width="50px;" height="50px;">
              <div sclass="total_seats">Vagas: {{ride.total_seats}}</div>
              <div class="driver">Motorista: {{user.name}}</div>
              <div class="attributes">Gênero: {{user.gender}}</div>
              <div class="attributes">Origem: {{ride.origin}}</div>
              <div class="attributes">Destino: {{ride.destiny}}</div>
              <div class="attributes">Hora de ida: {{ride.departure_time}}</div>
              <div class="attributes">Hora da Volta: {{ride.return_time}}</div>
              <div class="attributes">Descrição: {{ride.description}}</div>
              <div class="attributes">Veículo: {{ride.vehicle.car_model}}</div>
            </ion-item>
          </div>
        </div>
      </ion-list>
      <a href="#/menu/home" class="button button-block button-positive icon icon-center ion-home">Voltar</a>
  </ion-content>        
</ion-view>