<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list">
      <center>
        <label>
          <img src="img/others/logo_ret.png" width="250" height="250">
        </label>
        <h3>Partiu!</h3>
      </center>
    </div> 
    <label ng-hide="isLogged()" class="item">
    <button class="item button button-block button-positive login icon icon-left ion-social-facebook" ng-click="fbLogin()">
      <strong>Login com o Facebook</strong>
    </button>
    <p style="text-align: center;" ng-hide="isLogged()" ng-controller="menuCtrl">Você deve logar para usar a aplicação</p>
    </label>
    <h5 style="text-align: center" ng-show="isLogged()" ng-controller="menuCtrl">Bem vindo, {{user.name}}!</h5>
  </ion-content>
</ion-view>
