<ion-view view-title="Home">
  <ion-content class="padding">
    <app-map class="item" id="mapa"></app-map>
      <div class="row">
        <label class="col col-50">
          <img src="img/others/logo.png" class="logo">
        </label>
        <div class="logoText col col-50"> Partiu! </div>
      </div> 
    <button ng-click="geoLocation()" ng-model="geolocation" id="findMe" class="button button-icon icon ion-navigate">Find Me</button>
      <label ng-hide="isLogged()" class="item">
      <button class="button button-block button-positive login" ng-click="fbLogin()">
        Login com o facebook
      </button>
      </label>
  </ion-content>
</ion-view>