<!--

 <img src="http://www.caronafacil.com/assets/logo-2f1892ef6438c38891c5fd52eb735280.png">

<ion-view view-title="Login">
  <div class="pane">
    <label class="item">
        <button class="button button-block button-positive login" ng-click="fbLogin()">
        Login com o facebook
        </button>
    </label>
  </div>
</ion-view><ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list">
            <img src="img/logo1.png" class="logo">
            <div class="logoText">
                myChat
            </div>

-->

 

<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list">
            <img src="img/others/logo.png" class="logo">
            <div class="logoText">
                Partiu!
            </div>
        </div>
        	<label class="item">
        		<button class="button button-block button-positive login" ng-click="fbLogin()">
        		Login com o facebook
       			 </button>
    		</label>     
        </div>
    </ion-content>
</ion-view>



