<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">
            <center>
                <img src="img/others/logo_circ.png" height="250" width="250">
            </center>
            <div class="textCenter">
                <h1>Partiu!</h1>
            </div>
        </div>
          <label class="item">
            <button class="button button-block button-positive login" ng-click="fbLogin()">
                Login com o facebook
            </button>
        </label>     
        </div>
    </ion-content>
</ion-view>