<!--
<ion-view view-title="Login">
  <div class="pane">
    <label class="item">
        <button class="button button-block button-positive login" ng-click="fbLogin()">
        Login com o facebook
        </button>
    </label>
  </div>
</ion-view>

-->

<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list">
            <center>
                <img src="img/others/logo.png" height="250" width="250">
            </center>
            <div style="text-align: center;">
                <h1>Partiu!</h1>
            </div>
        </div>
          <label class="item">
            <button class="button button-block button-positive login" ng-click="fbLogin()">
            Login com o facebook
             </button>
        </label>     
        </div>
    </ion-content>
</ion-view>