<ion-view view-title="Profile">
    <ion-content class="has-header" ng-controller="profileCtrl">
        <div class="list card">
            <div class="row">
                <div class="item item-body col-30">
                    <img style="border-radius: 50%" src="http://graph.facebook.com/{{user.id}}/picture?width=90&height=90"/>
                </div>
            </div>    
            <div class="item">
                <h3>{{user.name}}</h3>
                <h4>{{user.email}}</h4>
                <h4>{{user.gender}}</h4>
                <h4>{{user.facebook_profile}}</h4>
            </div>
        </div>
    </ion-content>
</ion-view>
