<ion-view view-title="Perfil">
    <ion-content class="has-header" ng-controller="profileCtrl">
        <div class="list card">
            <div class="row">
                <div style="float: right;" class="item item-body col-30">
                    <img style="border-radius: 50%" src="http://graph.facebook.com/{{user.id}}/picture?width=90&height=90"/>
                </div>
            </div>

            <div class="item">
                <h1>{{user.name}}</h1>
                <p>{{user.email}}</p>
                <p>{{user.gender}}</p>
                <a href="{{user.facebook_profile}}"><p>Facebook</p></a>
            </div>

            <div class="item">
                <label class="item">
                    <button style="float: left;" class="button button-block button-assertive" ng-click="fbLogout()">
                      Logout
                    </button>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
