<ion-view view-title="{{perfil}}">
    <ion-content class="padding">
        <h1>Carona</h1>
        <div ng-controller='rideCtrl'>

        <!-- Campo de busca -->
            <div class="row">
                <div class="col-md-12">
                <form>
                     <input class="form-control" placeholder="Filtrar carona" ng-model="filterRide">
                </form>
                </div>
            </div>

            <ion-list ng-repeat="ride in rides | filter: filterRide">
              <div class="list card">
                <div class="item item-divider"><strong>{{ride.title}}<strong></div>
                <div class="item item-body">
                  <ion-item class="item-thumbnail-left" ng-repeat="user in ride.users">
                    <img ng-src ="{{user.photo_url}}" alt="Cover Image" width="50px;" height="50px;">
                    <p>Driver: {{user.name}}</p>
                    <p>Origem: {{ride.origin}}</p>
                    <p>Destino: {{ride.destiny}}</p>
                    <p>Carro: {{ride.vehicle.car_model}}</p>
                    <p>Só ida?: {{ride.is_only_departure}}</p>
                    <p>{{ride.total_seats}} Vagas</p> <!-- Essa é o total de vagas não é o número de vagas sobrando, o número de vagas sobrando vai ser calculado pelo app -->
                    <p>Hora de ida: {{ride.departure_time}}</p> <!-- Ainda vou formatar essa saída -->
                    <p>Hora de volta: {{ride.return_time}}</p> <!-- Se for só carona de ida não mostrar -->
                    <p>Cheio?: {{ride.is_finished}}</p> <!-- Fazer validação para que se for true apareça a mensagem Cheio, se for false apareça o número de vagas -->
                    <p>Ajuda de custo?: {{ride.is_subsistence_allowance}}</p>
                    <p>Descrição: {{ride.description}}</p>
                    <p>Rank: Em construção</p>
                  </ion-item>
              </div>
              </div>
            </ion-list>
            <ion-item href="#" menu-close>Sair</ion-item>

    </ion-content>
</ion-view>

<!--
Vou precisar colocar:
  - Lista de caronas (Olhar prototipo) e deixar mais bonito organizando cada informação no seu lugar
  de acordo com o prototipo criado.
  - Total de vagas não vai ser inserido e nem a descrição, isso vai ser visto ao clicar na carona
  - A opção só_ida é só para verificar se vai aparecer a hora de volta ou não
  - Cada carona deverá ter:
      Titulo da carona (fazer o search pelo titulo ou pelo destino, usuario escolher)
      Destino, string que o mapa irá disponibilizar
      Numero de assentos disponiveis (caso cheio aparecer Cheio, caso contrario aparecer o número, is_finished pode ajudar)
      Horarios de ida (e volta caso necessario)
      Qual modelo de precos a ser fixado: (ajuda de custo ou não)
      rank
-->
​
​
