<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Agendar Carona</h1>
    <button class="button icon-left ion-chevron-left button-clear" ng-click="modal.hide()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="row">
      <h3 class="title"><i class="icon ion-model-s"> Agendamento:</i></h3>
    </div>
    <ul class="list">
      <li class="item item-toggle">
        Repetir
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="schedule.repeat">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div class="list" ng-show="schedule.repeat">
        <ion-list id="radio">
          <div class="row">
            <div class="col column card">
              Dom
              <ion-radio class="radio-content" ng-model="day.value" ng-value="0"></ion-radio>
            </div>
            <div class="col column card">
              Seg
              <ion-radio class="radio-content" ng-model="day.value" ng-value="1"></ion-radio>
            </div>
            <div class="col column card">
              Ter
              <ion-radio class="radio-content" ng-model="day.value" ng-value="2"></ion-radio>
            </div>
            <div class="col column card">
              Qua
              <ion-radio class="radio-content" ng-model="day.value" ng-value="3"></ion-radio>
            </div>
            <div class="col column card">
              Qui
              <ion-radio class="radio-content" ng-model="day.value" ng-value="4"></ion-radio>
            </div>
            <div class="col column card">
              Sex
              <ion-radio class="radio-content" ng-model="day.value" ng-value="5"></ion-radio>
            </div>
            <div class="col column card">
              Sab
              <ion-radio class="radio-content" ng-model="day.value" ng-value="6"></ion-radio>
            </div>
          </div>
        </ion-list>
      </div>

      <div class="item item-icon-left" ng-hide="schedule.repeat">
        <i class="icon ion-calendar"></i>
        <input ng-model="schedule.date" name="date" id="date" placeholder="Data da carona" type="text" class="validate" >
      </div>
      
      <div class="item item-icon-left" ng-hide="schedule.repeat">
        <i class="icon ion-calendar"></i>
        <input ng-model="schedule.date_limit" name="date_limit" id="date_limit" placeholder="Data de termino da carona" type="text" class="validate" >
      </div>
      
      <div class="item item-icon-left" ng-hide="schedule.repeat">
        <i class="icon ion-clock"></i>
        <input ng-model="schedule.departure_time" name="departure_time" id="departure_time" placeholder="Data de partida" type="text" class="validate" >
      </div>
      
      <div class="item item-icon-left" ng-hide="schedule.repeat">
        <i class="icon ion-clock"></i>
        <input ng-model="schedule.return_time" name="return_time" id="return_time" placeholder="Data de volta" type="text" class="validate" >
      </div>

      <div class="item item-icon-left" ng-show="schedule.repeat">
        <i class="icon ion-clock"></i>
        <input ng-model="day.departure_time" name="departure_time" id="departure_time" placeholder="Data de partida" type="text" class="validate" >
      </div>
      
      <div class="item item-icon-left" ng-show="schedule.repeat">
        <i class="icon ion-clock"></i>
        <input ng-model="day.return_time" name="return_time" id="return_time" placeholder="Data de volta" type="text" class="validate" >
      </div>

      <button class="button button-full button-positive" ng-click="createSchedule()" ng-show="schedule.repeat">Criar</button>

    </ul>
  </ion-content>
</ion-modal-view>
