<h1> Cadatro de Caronas </h1>

<!-- Forms -->
<ion-content>
    <input id="origin-input" class="controls" type="text" placeholder="Origem">
    <input id="destination-input" class="controls" type="text" placeholder="Destino">
    <app-map id="mapa"></app-map>
    <button ng-click="geoLocation()" ng-model="geolocation" id="findMe" class="button button-icon icon ion-navigate">Find Me</button>
   <!--<p>Geolocation: <span id="origin">{{origin}}</span></p>
    <p>Destiny: <span id="destiny">{{destiny}}</span></p>
-->

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Destino</span>
    <input type="text" placeholder="Origem">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Destino">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Data">
  </label>
</div>

<!--Checkbox -->

<ul class="list">
  <li class="item item-toggle">
     Ajuda de Custo 
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>

</ion-content>