<ion-pane>
  <ion-view view-title = "Criar Carona">
    <ion-content padding>
      <form name="form" class="col s12" novalidate>
        <div ng-show="message.length" class="card erros">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
            <h3 class="card-title erros">{{message}}</h3>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Erros<i class="material-icons right">close</i></span>
            <br />
            <ul class="collection">
              <li class="collection-item" ng-show="form.$submitted && form.origin.$error.required">
                Origem obrigatória!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.destiny.$error.required">
                Destino obrigatório!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.title.$error.required">
                Título obrigatório!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.title.$error.maxlength && form.title.$error.maxlength">
                Título dever ter no máximo 20 caracteres e no mínimo 3 caracteres
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.departure_time.$error.required">
                Hora de saída obrigatório!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.total_seats.$error.required">
                Quantidade de vagas obrigatório!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.total_seats.$error.maxlength && form.total_seats.$error.maxlength">
                Dever ter no máximo 4 quantidades de vagas e no mínimo 1
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.car_model.$error.required">
                Modelo do carro obrigatório!
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.car_model.$error.maxlength && form.car_model.$error.maxlength">
                Modelo dever ter no máximo 20 caracteres e no mínimo 3 caracteres
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.color.$error.maxlength">
                Cor dever ter no máximo 20 caracteres
              </li>
              <li class="collection-item" ng-show="form.$submitted && form.description.$error.maxlength">
                Descrição dever ter no máximo 300 caracteres
              </li>
            </ul>
          </div>
        </div>

        <input id="origin-input" name="origin" class="controls" type="text" placeholder="Origem" ng-model="ride.origin" required>
        <input id="destination-input" name="destiny" class="controls" type="text" placeholder="Destino" ng-model="ride.destiny" required>
        <app-map id="mapa"></app-map>
        <button ng-click="geoLocation()" ng-model="geolocation" id="findMe" class="button button-icon icon ion-navigate">Find Me</button>
        <div class="list list-inset">
          <p class="item item-text-wrap">Origem: <span id="origin">{{ride.origin}}</span></p>
          <p class="item item-text-wrap">Destino: <span id="destiny">{{ride.destiny}}</span></p>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">label</i>
            <input ng-model="ride.title" name="title" ng-maxlength="20" ng-minlength="3"
            required id="icon_prefix" type="text" class="validate" >
            <label for="icon_prefix">Título</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">schedule</i>
            <input ng-model="ride.departure_time" name="departure_time" id="icon_prefix"
            type="text" class="validate" required>
            <label for="icon_prefix">Hora de partida</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">navigation</i>
            <input ng-model="vehicle.car_model" name="car_model" ng-maxlength="20" ng-minlength="3"
            required id="icon_prefix" type="text" class="validate" >
            <label for="icon_prefix">Modelo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">navigation</i>
            <input ng-model="vehicle.color" name="color" ng-maxlength="20"
            id="icon_prefix" type="text" class="validate" >
            <label for="icon_prefix">Cor</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <textarea ng-model="ride.description" name="description" id="textarea1"
            class="materialize-textarea" ng-maxlength="300"></textarea>
            <label for="textarea1">Descrição</label>
          </div>
        </div>
        <div class="row">
          <i class="material-icons prefix">person_pin</i>
          <label for="radio">Total de vagas</label>
        </div>
          <ion-list id="radio">
            <ion-radio ng-model="ride.total_seats" ng-value="1">1 Vaga</ion-radio>
            <ion-radio ng-model="ride.total_seats" ng-value="2">2 Vagas</ion-radio>
            <ion-radio ng-model="ride.total_seats" ng-value="3">3 Vagas</ion-radio>
            <ion-radio ng-model="ride.total_seats" ng-value="4">4 Vagas</ion-radio>
          </ion-list>
        </div>
        <div>
          <ul class="list">
           <li class="item item-toggle">
              Ajuda de Custo
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-model="ride.is_subsistence_allowance">
                <div class="track">
                   <div class="handle"></div>
                </div>
              </label>
           </li>
          </ul>
        </div>
        <div class="row">
          <button class="waves-effect waves-light button button-full
          button-positive button-outside" ng-click="submitRide()">
            Salvar
          </button>
        </div>
      </form>
    </ion-content>
  </ion-view>
</ion-pane>