<ion-view view-title="{{Carona}}">

        <ion-pane class="padding">
            <ion-tabs class="tabs-positive tabs-icon-top">

                <ion-tab title="Pesquisar" icon-on="ion-arrow-right-a" icon-off="ion-ios-filing-outline">
                    <br><br><br>
                            
                  <ion-content class="padding">
                            <!-- Campo de busca -->
                            <h1>Pesquisar</h1> 
                            <div class="row">
                                <div class="col-md-12">
                                <form>
                                     <!--<input class="form-control" placeholder="Filtrar por Origem" ng-model="filterRide.origin">-->
                                     <input class="form-control" placeholder="Filtrar por Destino" ng-model="filterRide.destiny">
                                </form>
                                </div>
                            </div>

                            <ion-list ng-if="ride.numberSeats !=0" ng-repeat="user in users">
                              <div class="list card" ng-repeat="ride in user.driver.rides  | filter: filterRide : strict">
                                <div class="item item-divider"><strong>{{ride.title}}<strong></div>
                                <div class="item item-body">
                                  <ion-item class="item-thumbnail-left">
                                    <img style="border-radius: 50%" ng-src ="{{user.photo_url}}" alt="Cover Image" width="50px;" height="50px;">
                                    <div class="panel-body">Motorista: {{user.name}}</div>
                                    <button class="button button-stable">Origem: {{ride.origin}}</button>
                                    <button class="button button-stable">Destino: {{ride.destiny}}</button>
                                    <!--
                                    <button class="button button-stable">Total de vagas: {{ride.total_seats}}</button>
                                    <button class="button button-stable">Hora de ida: {{ride.departure_time}}</button>
                                    <button class="button button-stable">Hora de volta: {{ride.return_time}}</button>
                                    <button class="button button-stable">Descrição: {{ride.description}}</button>
                                    <button class="button button-stable">Veiculo: {{ride.vehicle.car_model}}</button>
                                    -->

                                  </ion-item>
                                </div>
                              </div>
                            </ion-list>

                            <a href="#/menu/rideInsertion" class="button button-block button-positive icon icon-center ion-home">Voltar</a>
                  </ion-content>
                </ion-tab>

                <ion-tab title="Filtrar" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" badge-style="badge-positive">
                    <br><br><br>
                    <h1>Filtrar</h1> 
                </ion-tab>

            </ion-tabs>
        </ion-pane>
        
</ion-view>
