<div ng-controller="mapCtrl">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">label</i>
      <input ng-model="ride.title" name="title" ng-maxlength="20" ng-minlength="3" required id="icon_prefix" type="text" class="validate" >
      <label for="icon_prefix">Título</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">place</i>
      <input name="origin" id="origin" class="validate" type="text" ng-click="disableTap($event)" placeholder="" places-auto-complete ng-model="ride.origin" required ng-change="$scope.calculateDistance()" ng-model-options="{ debounce: 1000 }"/>
      <label ng-class="originIsSetted" for="icon_prefix">Origem</label>
    </div>

    <a ng-click="getCurrentLocation()" id="findMe" class="button button-icon icon ion-android-locate"></a>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">place</i>
      <input id="destination" class="validate" type="text" ng-click="disableTap($event)" placeholder="" places-auto-complete ng-model="ride.destination" required ng-change="$scope.calculateDistance" ng-model-options="{ debounce: 1000 }"/>
      <label for="icon_prefix">Destino</label>
    </div>
  </div>

  <ng-map street-view-control="false">
    <directions draggable="false" travel-mode="DRIVING" origin="{{ride.origin}}" destination="{{ride.destination}}"></directions>
    <traffic-layer></traffic-layer>
  </ng-map>

  <div class="item item-icon-left">
    <i class="icon ion-ios-location"></i>
    <p class="item item-text-wrap">Distancia: {{ride.distance}}</p>
    <p class="item item-text-wrap">Duração da viagem: {{ride.duration}}</p>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">schedule</i>
      <input ng-model="ride.departure_time" name="departure_time" id="icon_prefix"
      type="datetime-local" class="validate" required>
      <label for="icon_prefix" class="active">Hora de partida</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">navigation</i>
      <input ng-model="vehicle.car_model" name="car_model" ng-maxlength="20" ng-minlength="3"
      required id="icon_prefix" type="text" class="validate" >
      <label for="icon_prefix">Modelo</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">navigation</i>
      <input ng-model="vehicle.color" name="color" ng-maxlength="20"
      id="icon_prefix" type="text" class="validate" >
      <label for="icon_prefix">Cor</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">description</i>
      <textarea ng-model="ride.description" name="description" id="textarea1"
      class="materialize-textarea" ng-maxlength="300"></textarea>
      <label for="textarea1">Descrição</label>
    </div>
  </div>
  <div class="row">
    <h5><i class="icon ion-person-stalker"> Total de vagas</i></h5>
  </div>
  <div class="list">
    <ion-list id="radio">
      <div class="row">
        <div class="col col.50 card">
          <i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="1">1 vaga</ion-radio>
        </div>
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="2">2 Vagas</ion-radio>
        </div>
      </div>
      <div class="row">
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="3">3 Vagas</ion-radio>
        </div>
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="4">4 Vagas</ion-radio>
        </div>
      </div>
    </ion-list>
  </div>
  <div>
    <ul class="list">
      <li class="item item-toggle">
        Ajuda de Custo
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="ride.is_subsistence_allowance">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <input type="submit" value="Salvar" class="button button-block button-positive"/>
</div>
