<div ng-controller="mapCtrl">
  <div class="card">
 
    <div class="item item-icon-left">
      <i class="icon ion-ios-location"></i>
      <input name="title" ng-model="ride.title" ng-maxlength="20" ng-minlength="3" required id="title_form" 
      placeholder="Titulo da carona" type="text" class="validate" >

      <span ng-show="rideForm.title.$error.required">
        *
      </span>

    </div>

    <div class="row">
      <div class="item item-icon-left">
        <i class="icon ion-ios-location"></i>
        <input name="origin" ng-model="ride.origin" id="origin" class="validate" type="text" ng-click="disableTap($event)" placeholder="Origem" places-auto-complete  required ng-change="$scope.calculateDistance()" ng-model-options="{ debounce: 1000 }"/>
        <span ng-show="rideForm.origin.$error.required">
          *
        </span>
      </div>
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-ios-location"></i>
      <input name="destination" ng-model="ride.destination" id="destination" class="validate" type="text" ng-click="disableTap($event)" placeholder="Destino" places-auto-complete required ng-change="$scope.calculateDistance()" ng-model-options="{ debounce: 1000 }"/>
      <span ng-show="rideForm.destination.$error.required">
        *
      </span>
    </div>
  </div>

  <div class="card">
    <button ng-click="getCurrentLocation()" id="findMe" class="button button-icon icon ion-android-locate"> Find Me</button>
    <ng-map>
      <directions draggable="false" travel-mode="DRIVING" center="-15.830060, -47.949568" origin="{{ride.origin}}" destination="{{ride.destination}}"></directions>
      <traffic-layer></traffic-layer>
    </ng-map>
    <div class="item item-icon-left">
      <i class="icon ion-ios-location"></i>
      Distancia: <span type="text" id="km" ng-model="ride.route_distance">{{ride.route_distance}}</span><br />
      Tempo de viagem: <span type="text" id="time" ng-model="ride.route_time">{{ride.route_time}}</span>
    </div>
  </div>


 


  <div class="card">
    <div class="item item-icon-left">
      <i class="icon ion-calendar"></i>
      <input name="date" ng-model="ride.date" placeholder="Data da Carona" type="text" class="validate" required>
      <span ng-show="rideForm.date.$error.required">
        *
      </span>
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-clock"></i>
      <input name="departure_time" ng-model="ride.departure_time" placeholder="Horario de partida" type="text" class="validate" required>
      <span ng-show="rideForm.departure_time.$error.required">
        *
      </span>
    </div>

    <div class="item item-icon-left" ng-hide="schedule.repeat">
      <i class="icon ion-clock"></i>
      <input name="return_time" ng-model="ride.return_time" id="return_time" placeholder="Horario de volta" type="text" class="validate" required>
      <span ng-show="rideForm.return_time.$error.required">
        *
      </span>
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-clipboard"></i>
      <textarea ng-model="ride.description" name="description" id="description"
      placeholder="Descrição" ng-maxlength="300"></textarea>
    </div>
  </div>

  <div class="row">
    <h5><i class="icon ion-person-stalker"> Total de vagas</i></h5>
  </div>

  <div class="list">
    <ion-list id="radio">
      <div class="row">
        <div class="col col.50 card">
          <i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="1">1 vaga</ion-radio>
        </div>
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="2">2 Vagas</ion-radio>
        </div>
      </div>
      <div class="row">
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="3">3 Vagas</ion-radio>
        </div>
        <div class="col col.50 card">
          <i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i><i class="icon ion-man"></i>
          <ion-radio ng-model="ride.total_seats" ng-value="4">4 Vagas</ion-radio>
        </div>
      </div>
    </ion-list>
  </div>
  <div>
    <ul class="list">
     <li class="item item-toggle">
        <i class="icon ion-ios-people"></i> Ajuda de Custo
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="ride.is_subsistence_allowance">
          <div class="track">
             <div class="handle"></div>
          </div>
        </label>
     </li>
    </ul>
  </div>
  <div class="item item-divider">
    Campos com * são obrigatórios.
  </div>

  <div class="row">
    <button class="button button-full button-positive" ng-click="submitRide()">
      Salvar
    </button>
  </div>
</div>


<!--
{title: ["is too short (minimum is 3 characters)", "can't be blank"], 
destination: ["can't be blank"],…}
date
  :
  ["can't be blank"]
departure_time
  :
  ["can't be blank"]
destination
  :
  ["can't be blank"]
route_distance
  :
  ["can't be blank"]
route_time
  :
  ["can't be blank"]
title
  :
  ["is too short (minimum is 3 characters)", "can't be blank"]
-->