<ion-pane>
  <ion-view view-title="Carona">
    <ion-tabs class="bar-stable tabs-icon-left tabs-striped">
      <ion-tab title="Pesquisar" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-view>
        <ion-content class="padding">
          <div>
            <form>          
              <h2 class="title">Pesquisar</h2> 
              <input ng-model="filterRide.destiny" placeholder="Pesquisar por Destino" type="search" >
            </form>
            <ion-list  ng-repeat="user in users">
              <div class="list card" ng-repeat="ride in user.driver.rides  | filter: filterRide : strict">
                  <div class="item item-divider"><strong>{{ride.title}}</strong></div>
                    <div class="item item-body">
                      <ion-item class="item-thumbnail-left">
                       
                        <div class="total_seats">Vagas: {{ride.total_seats}}</div>
                        <div class="driver">Motorista: {{user.name}}</div>
                        <div class="attributes">Destino: {{ride.destiny}}</div>
                        <div class="attributes">Origem: {{ride.origin}}</div>
                        <div class="attributes">Hora de ida: {{ride.departure_time}}</div>
                        
                        <a ng-href="https://www.facebook.com/{{user.facebook_id}}" target="_blank">
                          <img class="img" ng-src ="{{user.photo_url}}" alt="Cover Image" width="50px;" height="50px;">
                        </a>
                        <a ng-href="#/menu/rides/{{ride.id}}/show/">
                          <button class="button button-positive button-small">Visualizar Carona</button>
                        </a>
                        
                      </ion-item>
                    </div>
                  </div>
              </div>
            </ion-list>
              <!--
              <a href="#/menu/home" class="button button-block button-positive icon icon-center ion-home">Voltar</a>
              -->   
          </div>  
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </ion-view>
</ion-pane>
