<ion-view view-title="{{ride.title}}">
  <ion-content class="padding">

    <div class="list">

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-location"></i>
        Origem
        <i class="item-note">
          {{ride.origin}}
        </i>
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-location"></i>
        Destino
        <i class="item-note">
          {{ride.destination}}
        </i>
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>
        Descrição
        <i class="item-note">
          {{ride.description}}
        </i>
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-man"></i>
        Total de Assentos
        <i class="item-note">
          {{ride.total_seats}}
        </i>
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-clock  "></i>
        Hora de Saída
        <i class="item-note">
          {{ride.departure_time}}
        </i>
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-cash"></i>
        Ajuda de Custo
        <i class="item-note">
          {{ride.is_subsistence_allowance}}
        </i>
      </a>

    </div>

    <ng-map>
      <directions draggable="false" travel-mode="DRIVING" origin="{{ride.origin}}" destination="{{ride.destination}}"></directions>
      <traffic-layer></traffic-layer>
    </ng-map>

  </ion-content>
</ion-side-menus>
