<ion-view  view-title="Carona">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <a ng-href="https://www.facebook.com/{{user_driver.facebook_id}}" class="item-thumbnail-left driver_avatar" target="_blank">
            <img class="img" ng-src ="{{user_driver.photo_url}}" alt="Cover Image" width="50px;" height="50px;">
          </a>
          <div class="col" ng-repeat="img in imgs">
            <a class="item item-avatar passenger_avatar" href="#">
              <img src="{{img}}">
            </a>
          </div>
        </div>
         <div class="list">
            <a class="item item-icon-left item-icon-right">
             <i class="icon ion-android-people"></i>
             <strong>Total de vagas:</strong>
             <span class="badge badge-assertive">{{ride.total_seats}}</span>
            </a>

            <a class="item item-icon-left item-icon-right">
             <i class="icon ion-location"></i>
             <strong>Origem:</strong>
             <i class="item-note"></i>
             <p>{{ride.origin}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
             <i class="icon ion-location"></i>
             <strong>Destino:</strong>
             <i class="item-note"></i>
             <p>{{ride.destination}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-android-navigate"></i>
              <strong>Detalhes:</strong>
              <i class="item-note"></i>
              <p>{{ride.route_distance}} - {{ride.route_time}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-android-calendar"></i>
              <strong>Data:</strong>
              <i class="item-note"></i>
              <p>{{ride.date}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-android-time"></i>
              <strong>Hora de Partida</strong>
              <i class="item-note"></i>
              <p>{{ride.departure_time}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-android-time"></i>
              <strong>Hora de Volta:</strong>
              <i class="item-note"></i>
              <p>{{ride.return_time}}</p>
            </a>

            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-android-car"></i>
              <strong>Veiculo:</strong>
              <i class="item-note"></i>
              <p>{{vehicle.car_model}}</p>
            </a>

           <a class="item item-icon-left item-icon-right">
               <i class="icon ion-compose"></i>
               <strong>Descrição:</strong>
               <i class="item-note"></i>
               <p>{{ride.description}}</p>
             </a>

             <a class="item item-icon-left item-icon-right" ng-show="ride.is_subsistence_allowance">
               <i class="icon ion-social-usd"></i>
               <strong>Ajuda de custo:</strong>
               <i class="item-note"></i>
               <p>{{ride.is_subsistence_allowance}}</p>
             </a>

             <ng-map street-view-control="false">
               <directions draggable="false" travel-mode="DRIVING" origin="{{ride.origin}}" destination="{{ride.destination}}"></directions>
               <traffic-layer></traffic-layer>
             </ng-map>

        </div>
      </div>
      <div class="item item-text-wrap">
        <button class="button button-block button-balanced button-outside icon icon-left ion-android-create" ng-show="showEditRide" ui-sref="menu.editRide({id: ride.id})">
          <strong>Editar</strong>
        </button>
        <button class="button button-block button-positive button-outside icon icon-left ion-android-checkbox-outline" ng-show="showEnterButton" ng-click="enterRide()">
          <strong>Entrar na carona</strong>
        </button>
        <button class="button button-block button-assertive button-outside icon icon-left ion-android-exit" ng-show="showExitButton" ng-click="exitRide()">
          <strong>Sair na carona</strong>
        </button>
        <button class="button button-block button-assertive icon icon-left ion-android-arrow-back" ui-sref="menu.rides">
          <strong>Voltar</strong>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
