<ion-view view-title="{{perfil}}">
    <ion-content>
        <h1>Carona</h1>
​
        <!--
        Vou precisar colocar:
          Lista de caronas
          Cada carona deverá ter:
            Nome de quem criou a carona
            Origem e Destino marcados em um mapa
            Numero de assentos
            Numero de assentos disponiveis
            Informacoes do carro
            Horarios de ida e volta
            Qual modelo de precos a ser fixado: pago ou nao
        -->
        <div ng-controller='rideCtrl'>
            <table>
              <thead>
                <tr>
                  <th>Nome do motorista</th>
                  <th>Quantidade de vagas</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ride in rides">
                  <td><strong>{{ride.nameDriver}}</strong></td>
                  <td></td>
                  <td>{{ride.numberSeats}}</td>
                </tr>
              </tbody>
            </table>
        </div>

    </ion-content>
</ion-view>
​
​
