<ion-view view-title="{{perfil}}">
    <ion-content>
        <h1>Carona</h1>
        <div ng-controller='rideCtrl'>

          <!--
            <ion-item href="#/menu/home" menu-close>Carona 1 home</ion-item>
             <ion-item href="#/menu/perfil" menu-close>Carona 2 perfil</ion-item>
             <ion-item href="#/viewRide" menu-close>Carona 3 viewride</ion-item>
        -->


        <!-- Campo de busca -->
            <div class="row">
                <div class="col-md-12">
                <form>
                     <input class="form-control" placeholder="Filtrar carona" ng-model="filterRide">
                </form>
                </div> 
            </div> 


         <ion-list>
            <ion-nav-view name="rideContent"></ion-nav-view>
            <ion-item ng-repeat="ride in rides | filter: filterRide" class="item-thumbnail-left" <link rel="rideView" href="js/views/viewRide.html"><td><img ng-src ={{ride.img}} alt="Cover Image" width="50px;" height="50px;">

                 <h2>Carona 1</h2>
                 <p>{{ride.nameDriver}}</p>
                 <p>{{ride.numberSeats}}</p>
            </ion-item>
            <ion-item href="#" menu-close>Sair</ion-item>
         </ion-list>
      </div>


    </ion-content>
</ion-view>

<!--
Vou precisar colocar:
  Lista de caronas
  Cada carona deverá ter:
    Nome de quem criou a carona
    Origem e Destino marcados em um mapa
    Numero de assentos
    Numero de assentos disponiveis
    Informacoes do carro
    Horarios de ida e volta
    Qual modelo de precos a ser fixado: pago ou nao
-->
​
​
