.attributes {
	font-size: 10px;
	font-weight: 300;
}

.driver {
	font-size: 14px;
	font-weight: 10;
}

.total_seats {
	font-size: 10px;
	font-weight: 300;
}

.img {
	border-radius: 50%;
}

.driver_avatar {
  padding-right: 0px;
  padding-left: 100px;
  margin-top: -20px;
  margin-left: -20px;
}

.passenger_avatar {
  padding: 0px;
  top: -9px;
  left: 0px;
}
