.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.logo {
    display: block;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.logoText {
    text-align: center;
    font-size: 28px;
    font-family: fantasy;
}

.textCenter {
    text-align: center;
}

.item-right {
  float: right;
}
.ride-button {
  margin-top: 13px;
}

